In [ ]:
#Defination of function
#Funtion is a block of code that only runs when it is called

In [ ]:
#User defined function
def hello():
    #Block of code
    print("Hello, World!")
#Calling the function    
hello()

Hello, World!

In [2]:
def add():
    a = 10
    b = 20
    c = a + b   
    print(c)
#Calling the function
add()

30

In [3]:
#Parameter and Argument
def add(a, b):
    print(a + b)
#Calling the function with arguments
add(10, 20)

30

In [ ]:
#arbitrary arguments ---*args---
def child(*kids):
    print("The youngest child is " + kids[1])
child("mohan","rohan","sohan")

The youngest child is rohan

In [6]:
#Keyword arguments
def child(child1, child2, child3):
    print("The youngest child is " + child2)    

child(child1 = "mohan", child2 = "rohan", child3 = "sohan")

The youngest child is rohan

In [7]:
#arbitrary keyword arguments ---**kwargs---

def child(**kids):
    print("The youngest child is " + kids["child2"])

child(child3="mohan",child1="rohan",child2="sohan")

The youngest child is sohan

In [10]:
#Default parameter value
def hobby(hobby ="cricket"):
    print("My hobby is " + hobby)
hobby("cricket")    
hobby()

My hobby is cricket
My hobby is cricket

In [12]:
#Passing list as an argument
def lst(name):
    for i in name:
        print(i)

lst (["mohan", "rohan", "sohan"])

mohan
rohan
sohan

In [21]:
#avg function

def avgg(name):
    print(sum(name)/len(name))

avgg([10, 20, 30, 40, 50])

30.0

# Lamda function

In [ ]:
#lamda function --- small anonymous function 
#lamda arguments: expression

In [4]:
x = lambda a,b : a + b
x(5,10)

15

In [5]:
x = lambda a,b : a * b
x(5,10)

50

In [7]:
#Map function ---apply a function to each item in an iterable
#map(function, iterable)
def square(n):
    return n * n

lst = [1, 2, 3, 4, 5]
result = map(square, lst)
print(list(result))  # Returns a map object

[1, 4, 9, 16, 25]

In [8]:
lst = [1, 2, 3, 4, 5]
result = map(lambda n :n * n, lst)
# Returns a map object
print(list(result))

[1, 4, 9, 16, 25]

In [9]:
#Filter function ---filter items in an iterable based on a condition
#filter(function, iterable)
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(lambda n: n % 2 == 0, lst)
print(list(result))

[2, 4, 6, 8, 10]

In [11]:
#Reduce function ---apply a rolling computation to sequential pairs of values in an iterable
from functools import reduce

lst = [1, 2, 3, 4, 5]   
result = reduce((lambda x, y: x + y), lst)
print(result)

15

In [ ]:
#from left to right
#[1, 2, 3, 4, 5] --> [3, 3, 4, 5] --> [6, 4, 5] --> [10, 5] --> [15]

In [16]:
#enumerate function ---add a counter to an iterable 
# and return it in the form of an enumerate object

lst = ["mohan", "rohan", "sohan"]
result = enumerate(lst)
print(list(result))

[(0, 'mohan'), (1, 'rohan'), (2, 'sohan')]

In [15]:

lst = ["mohan", "rohan", "sohan"]
result = enumerate(lst,start=5)
print(list(result))

[(5, 'mohan'), (6, 'rohan'), (7, 'sohan')]

In [19]:
#Zip function ---combine two or more iterables into a single iterable
lst1 = ["mohan", "rohan", "sohan"]
lst2 = [1, 2, 3]
result = zip(lst1, lst2)
print(list(result))

[('mohan', 1), ('rohan', 2), ('sohan', 3)]

In [20]:
lst1 = ["mohan", "rohan", "sohan"]
lst2 = [1, 2]
result = zip(lst1, lst2)
print(list(result))

[('mohan', 1), ('rohan', 2)]

In [23]:
zipped = [("mohan", 1), ("rohan", 2), ("sohan", 3)]
result , number = zip(*zipped)

print(list(result))  # ('mohan', 'rohan', 'sohan')
print(list(number))  # (1, 2, 3)

['mohan', 'rohan', 'sohan']
[1, 2, 3]

In [ ]:
#module function --- importing other python files into the current file
#module is single python file (.py)

#there are 3 types of modules
#1. Built - in modules - os ,datetime, math, random, sys, re
#2. Third-party modules - pandas, numpy, requests, beautifulsoup, selenium
#3. User-defined modules

In [ ]:
# import os
#from os import path

In [25]:
from basic import add
print(add(10, 20))

30